body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2A5276;

    background-image: url("imagens/teste2.jpg"); 
    background-repeat: repeat; 
    background-size: 200px;
}

.header {
    background-color: rgba(180, 15, 15, 0.6);
    border: 1px white solid;
    backdrop-filter: blur(2px);
    margin: 2rem auto;
    border-radius: 10px;
    width: 70%;

    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h1 {
        font-size: 1.2rem;
    }

    img {
        margin-top: 2rem;
        width: 200px;
        height: 200px;
        border: 10px white solid;
        border-radius: 100%;
    }
    p {
        font-size: 0.8rem;
    }
}

.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    gap: 2rem;
    margin-bottom: 2rem;

    img {
        height: 462px;
        width: 600px;
        border-radius: 20px;
        object-fit: cover;
    }

    p {
        flex: 1;
    }
}


.item:nth-child(even) {
  flex-direction: row-reverse;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.container-criacoes {

}